{% load static %} {% block extrascripts %}
<script src="{%  static 'js/tailwind.js' %}"></script>
{% endblock %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Educational Resources Technology Hub</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}" />
  </head>
  <body>
    {% include "navbar.html" %}
    <section>
      <div class="max-w-screen-xl px-4 py-8 mx-auto">
        <div class="relative max-w-3xl mx-auto text-center">
          <span
            class="absolute inset-x-0 h-px -translate-y-1/2 bg-black/10 top-1/2"
          ></span>

          <h2
            class="relative inline-block px-4 text-2xl font-bold text-center bg-white"
          >
            Resources
          </h2>
        </div>

        <div class="grid grid-cols-2 mt-8 lg:grid-cols-4 gap-x-4 gap-y-8">
          {% for resource in resources %}
          <a
            href="{% url 'track_link_click' resource.slug %}"
            class="relative block border border-gray-100"
            target="_blank"
          >
            <img
              alt="{{resource.title}}"
              class="object-contain w-full h-56"
              src="https://i.ibb.co/DwMf9yg/educational-resources-technology-logo-1.png"
            />

            <div class="p-6">
              <h5 class="mt-1 text-lg font-bold">{{resource.title}}</h5>
              <p class="text-sm font-medium text-gray-600">
                {{resource.description}}
              </p>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </section>
  </body>
</html>
