{% load static %} {% block extrascripts %}
<script src="{%  static 'js/tailwind.js' %}"></script>
{% endblock %}
<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900">
        Contact Us
      </h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        Are you facing an issue, have some feedback or need any other help?
        Here's our contact and other information. Feel free to reach out. We
        will try to get back to any messages within 24 hours.
      </p>
    </div>
    <div
      class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-8 text-base leading-7 sm:grid-cols-2 sm:gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-4"
    >
      <div>
        <h3 class="border-l border-red-600 pl-6 font-semibold text-gray-900">
          Email
        </h3>
        <address
          class="border-l border-gray-200 pl-6 pt-2 not-italic text-gray-600"
        >
          <a href="mailto:ert@charlescalzia.com">ert@charlescalzia.com</a>
        </address>
      </div>
      <div>
        <h3 class="border-l border-red-600 pl-6 font-semibold text-gray-900">
          Based in
        </h3>
        <address
          class="border-l border-gray-200 pl-6 pt-2 not-italic text-gray-600"
        >
          <p>London, UK</p>
        </address>
      </div>
    </div>
  </div>
</div>
